.card-img-top{
    height: 40vh;
    width: 100%;
    object-fit: cover;
}
.top-headlines{
    background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
    height: 100%;
}
.sports{
     background: linear-gradient(to right, #1a2a6c, #b21f1f, #fdbb2d);
}