.card-img-top{
    height: 40vh;
    width: 100%;
    object-fit: cover;
}
.top-headlines{
    background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
    height: 100%;
}
.owl-carousel{
    display: inline-block;
}
.owl-prev{
    left: -30px;
}
.owl-next{
    right: -30px;
}
.owl-prev, .owl-next{
     position: absolute;
     top: 90px;
}
.owl-prev span, .owl-next span{
    font-size: 5rem;
    color: black;
}